div{

    display: flex;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #f0810f;

}

div ul{

    flex-direction: row;
    justify-content: flex-start;

}

div ul div{

    justify-content: flex-end;

}