/*==========Components==========*/

.content {
  /*Box model*/

  height: 100%;
  margin-left: 4rem;
  margin-right: 4rem;

}

.title {
  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #f0810f;
}

.title2 {

  /*Text*/

  font-size: 2rem;
  font-weight: 550;
  font-family: "Poppins", sans-serif;

}

.title3 {
  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #fafafa;
}

.title4 {

  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;

}

.title5 {

  /*Text*/

  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Archivo Black", sans-serif;
  color: white;
  background-repeat: repeat;
  background-size: 100%;
  text-align: center;

}

.secondary {
  /*Text*/

  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

.secondary__bold {

  /*Text*/

  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;

}

.secondary2 {
  /*Text*/

  font-family: "Raleway", sans-serif;
  font-size: 1.9rem;
  font-weight: 580;
  color: #fafafa;
}

.secondary3 {
  /*Text*/

  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: #fafafa;
}


.tertiary {
  /*Text*/

  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;

}

.tertiary2 {
  /*Text*/

  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #1c1c1c;

}

.tertiary__bold {

  /*Text*/

  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: bold;


}

.tertiary2__bold {

  /*Text*/

  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #1c1c1c;


}


.text {

  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;


}

.text__bold {

  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;

}

.text2 {

  /*Box model*/

  margin-bottom: 1.5rem;

  /*Text*/

  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  color: #fafafafa;

}

.text2__bold {

  /*Box model*/

  margin-bottom: 1.5rem;

  /*Text*/

  font-size: 1rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: #fafafafa;

}

.error {

  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;


  /*Text*/

  font-family: 'Poppins', sans-serif;
  color: #fafafa;

  /*Visuals*/

  border-radius: 10px;
  background-color: #f55b5b;

}

.correct {

  /*Box model*/

  width: 100%;

  /*Text*/

  font-family: 'Poppins', sans-serif;
  color: #fafafa;

  /*Visuals*/

  border-radius: 5px;
  background-color: #42f563;

}

.list {
  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;

  /*Visuals*/

  list-style-type: none;

}

.list__item::before {

  /*Text*/

  content: "○";
  color: #f0810f;
}

.post {

  /*Box model*/

  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 1rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;

  /*Visuals*/

  border-radius: 10px;

  background: linear-gradient(45deg, rgba(240, 129, 15, 1) 35%, rgba(249, 166, 3, 1) 100%);

}

.typeAttendance {

  /*Box model*/

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 55rem;
  margin-bottom: 2rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;
  color: white;

  /*Visuals*/

  border-radius: 10px;
  border: 1px solid #f0810f;
  background: linear-gradient(45deg, rgba(240, 129, 15, 1) 35%, rgba(249, 166, 3, 1) 100%);
}

.user {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;

  /*Visuals*/

  border-radius: 10px;
  border: 1px solid #f0810f;

}

.toast {


  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;

  /*Text*/

  font-family: 'Poppins', sans-serif;
  color: white;

  /*Visuals*/

  background-image: linear-gradient(45deg, rgba(240, 129, 15, 0.8) 35%, rgba(249, 166, 3, 0.8) 100%);
  backdrop-filter: blur(5px);
  border-radius: 5px;

}

.thread {


  /*Box model*/

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 1rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;
  color: white;

  /*Visuals*/

  border-radius: 10px;
  background: linear-gradient(45deg, rgba(240, 129, 15, 1) 35%, rgba(249, 166, 3, 1) 100%);

}

.pet {

  /*Box model*/

  display: flex;
  flex-direction: column;

  width: 50rem;
  margin-bottom: 1rem;
  padding: 2rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;
  color: white;

  /*Visuals*/

  border-radius: 10px;
  background: linear-gradient(45deg, rgba(240, 129, 15, 1) 35%, rgba(249, 166, 3, 1) 100%);

}

.complaint {


  /*Box model*/

  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-bottom: 1rem;
  padding: 1rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;
  color: white;

  /*Visuals*/

  border-radius: 10px;
  background: linear-gradient(45deg, rgba(240, 129, 15, 1) 35%, rgba(249, 166, 3, 1) 100%);


}

.question {

  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 2rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(240, 129, 15, 1) 35%, rgba(249, 166, 3, 1) 100%);
}

.new {

  /*Box model*/

  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 1rem;
  padding: 2rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;

}

.comment {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  word-wrap: break-word;
  margin-left: 1rem;

  /*Text*/

  font-family: 'Poppins', sans-serif;

}

.cards {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.card__large {

  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-right: 2.5rem;
  width: 70rem;
  height: 35rem;
  padding: 1rem;

  /*Visuals*/

  border: 2px solid #f0810f;
  border-radius: 10px;

}

.card__variable {

  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-right: 2.5rem;
  width: fit-content;
  height: fit-content;
  padding: 1rem;

  /*Visuals*/

  border: 2px solid #f0810f;
  border-top: 10px solid #f0810f;
  border-radius: 10px;

}

.card__short {

  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2.5rem;
  width: 80rem;
  height: 20rem;
  padding: 1rem;

  /*Visuals*/

  border: 2px solid #f0810f;
  border-radius: 10px;

}

.info__card {

  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-right: 2.5rem;
  width: 100%;
  height: fit-content;
  padding: 1rem;

  /*Text*/

  color: white;

  /*Visuals*/

  border-radius: 10px;
  background-color: #f0810f;

}

.loading {

  /*Position*/

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*Text*/

  font-size: 4rem;
  font-weight: bold;
  background-color: #f0810f;
  font-family: "Archivo Black", sans-serif;
  background-image: linear-gradient(180deg, #f0810f, #ffe45c 170%);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  text-align: center;


}

.loading2 {

  /*Position*/

  position: relative;

  /*Box model*/

  display: flex;
  flex-direction: column;
  justify-content: center;

  /*Text*/

  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #f0810f;


}

.dots {

  /*Visuals*/

  background-image: radial-gradient(rgba(240, 129, 15, 1) 1px, transparent 1px), radial-gradient(rgba(240, 129, 15, 1) 1px, transparent 1px);
  background-position: 0 0, 500px 500px;
  background-size: 50px 50px;

}

.line {
  /*Box model*/

  width: 97%;
  height: 0.09rem;

  /*Visuals*/

  background-color: #f0810f;
  border: none;
  opacity: 0.6;
}

.white__line {

  /*Box model*/

  width: 13rem;
  height: 0.1rem;

  /*Visuals*/

  background-color: #fafafa;
  border: none;
  opacity: 0.8;
}

.white__line2 {

  /*Box model*/

  width: 100%;
  height: 0.1rem;

  /*Visuals*/

  background-color: #fafafa;
  border: none;
  opacity: 0.8;

}

.divider {
  /*Box model*/

  width: 97%;
  height: 0.09rem;

  /*Visuals*/

  background-color: #a1a1a1;
  border: none;
  opacity: 0.4;
}

.link {

  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #f0810f;

  /*Visuals*/

  text-decoration: none;
}

.link2 {

  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #f0810f;

}

.link3 {

  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fafafa;

  /*Visuals*/

  text-decoration: none;
}

.link3__bold {

  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fafafa;

  /*Visuals*/

  text-decoration: none;
}

.link:hover .link2:hover .link3:hover {
  /*Text*/

  color: #f9a603;
}

.message {

  /*Box model*/

  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 15vh;
  padding: 1rem;

  /*Text*/

  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  background-color: #f0810f;

}



.colorized {

  /*Box model*/

  display: inline-block;
  text-align: center;

  /*Text*/
  font-weight: 600;
  color: #f9a603;

}

/*==========Buttons==========*/

.buttonPrimary {
  /*Box model*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: fit-content;
  min-width: 150px;
  max-width: 200px;
  padding: 1rem;

  /*Text*/

  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-style: bold;

  /*Visuals*/

  cursor: pointer;
  background-color: #f0810f;
  border-radius: 40px;
  border: none;

  /*Misc*/

  transition: all 0.3s ease-in-out;
}

.buttonSecondary {

  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  padding: 0.5rem;

  /*Text*/

  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: bold;

  /*Visuals*/

  cursor: pointer;
  background-color: #ffa142;
  border-radius: 40px;
  border: none;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}

.buttonTertiary {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  padding: 0.5rem;

  /*Text*/

  color: #f0810f;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background-color: #ffff;
  border-radius: 40px;
  border: 1px solid #f0810f;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}


.buttonTertiary2 {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  padding: 0.5rem;

  /*Text*/

  color: #f0810f;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background-color: transparent;
  border-radius: 40px;
  border: 1px solid #f0810f;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}


.buttonTertiary3 {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  padding: 0.5rem;

  /*Text*/

  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background-color: #f0810f;
  border-radius: 40px;
  border: 1px solid #ffff;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}


.buttonTertiary3:hover {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  padding: 0.5rem;

  /*Text*/

  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background-color: #f9a603;
  border-radius: 40px;
  border: 1px solid #ffff;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}


.searchButton {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  width: 7vw;
  min-width: 7vw;
  max-width: 7vw;
  padding: 1vw;

  /*Text*/

  color: #f0810f;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  border: none;
  background: white;
  border-radius: 50px;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}


.searchButton:hover {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  width: fit-content;
  min-width: 60px;
  max-width: 100px;
  padding: 1vw;

  /*Text*/

  color: white;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background-color: #f9a603;
  border-radius: 40px;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}


.buttonDelete {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;

  /*Text*/

  color: #f55b5b;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background: transparent;
  border-radius: 40px;
  border: 1px solid #f55b5b;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}


.buttonDelete:hover {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;

  /*Text*/

  color: white;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background-color: #f55b5b;
  border-radius: 40px;
  border: 1px solid white;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}



.buttonDelete2 {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  padding: 1rem;

  /*Text*/

  color: white;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background: #f55b5b;
  border-radius: 40px;
  border: none;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}


.buttonDelete2:hover {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  padding: 1rem;

  /*Text*/

  color: white;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background-color: #f55b5b;
  border-radius: 40px;
  border: 1px solid white;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}

.buttonFollowed {

  /*Box model*/

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: fit-content;
  min-width: 120px;
  max-width: 200px;
  padding: 0.5rem;

  /*Text*/

  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-style: 500;

  /*Visuals*/

  cursor: pointer;

  background-image: linear-gradient(45deg, rgba(240, 129, 15, 1) 35%, rgba(249, 166, 3, 1) 100%);
  ;
  border: none;
  border-radius: 40px;

  /*Misc*/

  transition: all 0.3s ease-in-out;

}

.buttonPrimary:hover {

  /*Visuals*/

  background-color: #f9a603;

}

.buttonSecondary:hover {

  /*Visuals*/

  background-color: #f9a603;

}

.buttonTertiary:hover {

  /*Text*/

  color: #fafafa;
  border: 1px solid #fafafa;

  /*Visuals*/

  background-color: #f9a603;

}

.buttonTertiary2:hover {

  /*Text*/

  color: #fafafa;
  border: 1px solid #fafafa;

  /*Visuals*/

  background-color: #f9a603;

}

.buttonFollowed:hover {

  /*Visuals*/

  background-image: linear-gradient(45deg, #f55b5b 45%, #f9a603 100%);

}

.buttonTo {

  /*Position*/

  position: sticky;
  bottom: 1rem;


  /*Box model*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2vh;
  width: 1vw;
  margin-top: 2rem;
  padding: 1.5rem;

  /*Text*/

  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-size: 3rem;

  /*Visuals*/

  background-color: #f0810f;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  /*Misc*/

  transition: all 0.3s ease-in-out;
}


.buttonTo:hover {
  /*Visuals*/

  background-color: #f9a603;
}
